* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #e3f2fd;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
    margin: 20px;
}
.color {
    list-style-type: none;
    padding: 7px;
    margin: 10px;
    text-align: center;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(52, 87, 220, 0.08);
}
.rect-box {
    width: 185px;
    height: 188px;
    background-color: #8a6cff;
    border-radius: 5px;
}
.color span {
    display: block;
    text-align: center;
    font-size: 1.15rem;
    font-family: 500;
    margin: 12px 0 8px;
}
.color:hover {
    filter: brightness(110%);
}
.color:active {
    transform: scale(95%);
    transition: all .1s linear;
}
button {
    outline: 0;
    border: thin solid #fff;
    padding: 15px 20px;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: #8a6cff;
    box-shadow: 0 10px 20px rgba(52, 87, 220, 0.08);
}

@media  screen and (max-width:480px) {
    .container {
        margin: 0;
    }
    .rect-box {
        width: 100px;
        height: 120px;
    }
}